.dataHubFlow {
  :global .react-flow__node.selectable {
    &:focus-visible {
      box-shadow: 0 0 10px 2px rgb(88 144 255 / 75%), 0 1px 1px rgb(0 0 0 / 15%);
    }
  }

  :global .react-flow__node {
    .react-flow__handle.onSuccess {
      background: var(--chakra-colors-green-400);
    }
    .react-flow__handle.onError {
      background: var(--chakra-colors-red-400);
    }
  }

  :global .react-flow__handle-connecting {
    &.react-flow__handle-valid {
      box-shadow: 0 0 10px 2px rgb(88 144 255 / 75%), 0 1px 1px rgb(0 0 0 / 15%);
    }
    // Add notConnectable
    &:not(.react-flow__handle-valid) {
      cursor: no-drop;
    }
  }
}
