# Gradle
.gradle
build/
bin/

# IntelliJ
out/
*.iml
.idea/*
!.idea/codeStyles
!.idea/inspectionProfiles
!.idea/runConfigurations

.java-version
.DS_Store
/src/website/*
/website/
/ext/reporting.sql
/hivemq-edge/src/distribution/log/event.log
/hivemq-edge/src/distribution/log/hivemq.log
/hivemq-edge/src/distribution/log/migration.log
/hivemq-edge/src/test/resources/opc-large-config.xml
/edge-plugins/.kotlin/
.vscode/
