strict-peer-dependencies=false
enable-pre-post-scripts=true
only-built-dependencies[]=@percy/core
only-built-dependencies[]=@sentry/cli
only-built-dependencies[]=cypress
only-built-dependencies[]=esbuild
only-built-dependencies[]=msw
only-built-dependencies[]=protobufjs
