name: CI Check

on:
  workflow_call:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: Checkout Extension SDK
        run: |
          git clone https://github.com/hivemq/hivemq-extension-sdk.git ../hivemq-extension-sdk
          cd ../hivemq-extension-sdk
          git checkout ${GITHUB_REF#refs/heads/} || true
          git clone https://github.com/hivemq/hivemq-edge-extension-sdk.git ../hivemq-edge-extension-sdk
          cd ../hivemq-edge-extension-sdk
          git checkout ${GITHUB_REF#refs/heads/} || true
          git clone https://github.com/hivemq/hivemq-edge-adapter-sdk.git ../hivemq-edge-adapter-sdk
          cd ../hivemq-edge-adapter-sdk
          git checkout ${GITHUB_REF#refs/heads/} || true
          cd ../hivemq-edge

      - name: Setup Java
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Check
        run: ./gradlew test :hivemq-edge:forbiddenApis :hivemqEdgeZip :jacocoMergedReport

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@afb2984f4d89672b2f9d9c13ae23d53779671984
        with:
          files: |
            ${{ github.workspace }}/**/build/test-results/**/*.xml

      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@7c362aca34caf958e7b1c03464bd8781db9f8da7 #v1.7.1
        with:
          paths: |
            ${{ github.workspace }}/**/build/reports/jacoco/jacocoMergedReport/jacocoMergedReport.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 40
          min-coverage-changed-files: 60
          title: Coverage Report
          update-comment: true
          pass-emoji: ✅
          fail-emoji: ❌
          debug-mode: true

      - name: Upload coverage report
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: coverage-java
          path: build/reports/jacoco/jacocoMergedReport/html
          retention-days: 1
