name: CI Check

on:
  workflow_call:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Checkout Extension SDK
        run: |
          git clone https://github.com/hivemq/hivemq-extension-sdk.git ../hivemq-extension-sdk
          cd ../hivemq-extension-sdk
          git checkout ${GITHUB_REF#refs/heads/} || true
          git clone https://github.com/hivemq/hivemq-edge-extension-sdk.git ../hivemq-edge-extension-sdk
          cd ../hivemq-edge-extension-sdk
          git checkout ${GITHUB_REF#refs/heads/} || true
          git clone https://github.com/hivemq/hivemq-edge-adapter-sdk.git ../hivemq-edge-adapter-sdk
          cd ../hivemq-edge-adapter-sdk
          git checkout ${GITHUB_REF#refs/heads/} || true
          cd ../hivemq-edge

      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: 'adopt'
          java-version: '21'

      - uses: burrunan/gradle-cache-action@663fbad34e03c8f12b27f4999ac46e3d90f87eca # v3.0.1
        name: Build container
        with:
          arguments: :test :hivemq-edge:forbiddenApis :hivemqEdgeZip :jacocoMergedReport
          gradle-version: wrapper

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@3a74b2957438d0b6e2e61d67b05318aa25c9e6c6
        with:
          files: |
            ${{ github.workspace }}/**/build/test-results/**/*.xml

      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848 # v1.7.2
        with:
          paths: |
            ${{ github.workspace }}/**/build/reports/jacoco/jacocoMergedReport/jacocoMergedReport.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 40
          min-coverage-changed-files: 60
          title: Coverage Report
          update-comment: true
          pass-emoji: ✅
          fail-emoji: ❌
          debug-mode: true

      - name: Upload coverage report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: coverage-java
          path: build/reports/jacoco/jacocoMergedReport/html
          retention-days: 1
