name: Run Snyk monitor on releases

on:
  release:
    types: [ published ]

jobs:
  run-snyk-monitor:
    runs-on: ubuntu-latest
    environment: snyk-monitor-releases

    steps:
      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'temurin'
          java-version: |
            21

      - uses: hivemq/hivemq-checkout-composite-action@26f72bf9994a1e9091f035e7b0bef787d82bad83 # v1
        with:
          path: hivemq-edge
          ref: ${{ github.ref_name }}
          token: ${{ secrets.JENKINS_GITHUB_TOKEN }}

      - name: Setup Snyk
        uses: snyk/actions/setup@master

      - name: Run Snyk monitor
        shell: bash
        run: snyk monitor --configuration-matching=^runtimeClasspath$ --target-reference=${{ github.ref_name }} --org=hivemq-releases --project-name=hivemq-edge --remote-repo-url=hivemq-edge --project-lifecycle=production -d hivemq-edge/hivemq-edge
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '20.13.1'

      - name: Run Snyk Frontend monitor
        shell: bash
        run: snyk monitor --file=pnpm-lock.yaml --target-reference=${{ github.ref_name }} --org=hivemq-releases --project-name=hivemq-edge-frontend --remote-repo-url=hivemq-edge-frontend --project-lifecycle=production -d hivemq-edge/hivemq-edge-frontend
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.JENKINS_GITHUB_TOKEN }}
          GH_NPM_TOKEN: ${{ secrets.JENKINS_GITHUB_TOKEN }}
