name: Run Snyk scan on PRs

on:
  pull_request:
    branches:
      - master**

jobs:
#  monitor-baseline-project:
#    uses: ./.github/workflows/snyk-push.yml
#    with:
#      github_ref: ${{ github.base_ref }}
#    secrets: inherit

  scan-for-new-issues:
    runs-on: ubuntu-latest
#    needs: monitor-baseline-project

    steps:
      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'temurin'
          java-version: |
            21

      - uses: hivemq/hivemq-checkout-composite-action@26f72bf9994a1e9091f035e7b0bef787d82bad83 # v1
        with:
          path: hivemq-edge
          ref: ${{ steps.select_github_ref.outputs.selected_github_ref }}
          token: ${{ secrets.JENKINS_GITHUB_TOKEN }}

      - name: Check for new issues
        uses: hivemq/hivemq-snyk-composite-action@87155e0bc5cddd95ad2d4d184952bb2dbb9d225f # v2.3.5
        with:
          snyk-args: --org=hivemq-edge --configuration-matching=^runtimeClasspath$ -d hivemq-edge/hivemq-edge
          artifact-name: snyk-report-hivemq-edge
          snyk-token: ${{ secrets.SNYK_TOKEN }}
          github-username: ${{ secrets.JENKINS_GITHUB_USERNAME }}
          github-token: ${{ secrets.JENKINS_GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '20.13.1'

      - name: Check for new issues (hivemq-edge-frontend)
        uses: hivemq/hivemq-snyk-composite-action@87155e0bc5cddd95ad2d4d184952bb2dbb9d225f # v2.3.5
        with:
          snyk-args: --org=hivemq-edge --configuration-matching=^runtimeClasspath$ -d hivemq-edge/hivemq-edge-frontend
          artifact-name: snyk-report-hivemq-edge-frontend
          snyk-token: ${{ secrets.SNYK_TOKEN }}
          github-username: ${{ secrets.JENKINS_GITHUB_USERNAME }}
          github-token: ${{ secrets.JENKINS_GITHUB_TOKEN }}
