name: Run Snyk monitor on push

on:
  push:
    branches:
      - master**
  workflow_call:
    inputs:
      github_ref:
        required: true
        type: string

jobs:
  run-snyk-monitor:
    runs-on: ubuntu-latest

    steps:
      - name: Select GitHub ref
        id: select_github_ref
        shell: bash
        run: |
          workflow_call_github_ref=${{ inputs.github_ref }}
          echo "selected_github_ref=${workflow_call_github_ref:-${{ github.ref_name }}}" >> "$GITHUB_OUTPUT"

      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'temurin'
          java-version: |
            21

      - uses: hivemq/hivemq-checkout-composite-action@26f72bf9994a1e9091f035e7b0bef787d82bad83 # v1
        with:
          path: hivemq-edge
          ref: ${{ steps.select_github_ref.outputs.selected_github_ref }}
          token: ${{ secrets.JENKINS_GITHUB_TOKEN }}

      - name: Setup Snyk
        uses: snyk/actions/setup@master

      - name: Run Snyk monitor
        shell: bash
        run: >
          snyk monitor --configuration-matching=^runtimeClasspath$ --target-reference=${{ steps.select_github_ref.outputs.selected_github_ref }} --org=hivemq-edge
          --project-name=hivemq-edge --remote-repo-url=hivemq-edge --project-lifecycle=development -d
          --project-tags="\"kanbanize_board_name=Edge,kanbanize_board_workflow_name=Development++Workflow,kanbanize_board_column_name=Requested++~~Selected~~,kanbanize_board_swimlane=Expedite,kanbanize_board_done_sections=4/5\""
          hivemq-edge/hivemq-edge -- --stacktrace
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '20.13.1'

      - name: Run Snyk Frontend monitor
        shell: bash
        run: >
          snyk monitor --file=pnpm-lock.yaml --target-reference=${{ steps.select_github_ref.outputs.selected_github_ref }} --org=hivemq-edge
          --project-name=hivemq-edge-frontend --remote-repo-url=hivemq-edge-frontend --project-lifecycle=development -d
          --project-tags="\"kanbanize_board_name=Edge,kanbanize_board_workflow_name=Development++Workflow,kanbanize_board_column_name=Requested++~~Selected~~,kanbanize_board_swimlane=Expedite,kanbanize_board_done_sections=4/5\""
          hivemq-edge/hivemq-edge-frontend
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.JENKINS_GITHUB_TOKEN }}
          GH_NPM_TOKEN: ${{ secrets.JENKINS_GITHUB_TOKEN }}
